# Ignore les fichiers d'environnement et secrets
#.env
#*.env
secrets/
# Ignore les certificats SSL auto-signés
*.key
*.crt
# Ignore les fichiers de base de données dump
# (ne pas ignorer les scripts d'init SQL)
# Ignore les fichiers temporaires
*.swp
*.swo
